:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-colo: rgba(0,0,0,0.2);
    --primary-color: rgba(255, 0, 86, 1);
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);

}
a{
    text-decoration: none;
}
.navbar{
    height: 55px;
    box-shadow: 0 3px 6px var(--shadow-colo);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        font-size: 1.5em;
        font-weight: bolder;
        color: var(--primary-color);
        span{
            color: var(--text-color);
            text-shadow: 0 1px 3px var(--shadow-colo);
        }
    }
}
.container{
    padding-inline: 15vw;
}
.nav-links{
    a{
        margin-left: 1em;
        color: var(--text-light);
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        &::before{
            content: "";
            display: inline-block;
            height: 3px;
            width: 100%;
            background-color: var(--primary-color);
            position: absolute;
            bottom: -3px;
            left: 0;
            transform: scaleX(0);
            transition: transform calc(var(--animation-speed) * 0.2s) ease-in-out;
        }
        &:hover{
            &::before{
                transform: scaleX(1);
            }
        }
        &.active{
            color: var(--primary-color);
            font-weight: bold;
        }
    }
}