:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgba(255, 0, 86, 1);
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

@function getAnimationDuration($duration: number){
    @return calc($duration * var(--animation-speed));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);

}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}
.section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
    &.d-block{
        display: block;
    }
    .title{
        color: var(--text-color);
        font-size: 2.5em;
        margin-bottom: .25em;
        font-weight: 900;
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1.25em;

    }
    .col{
        width: 50%;
    }
}
.custom-image{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.main{
    padding-block: 3vw
}

@import "partials/improveskills";
@import "partials/herosect";
@import "partials/navvar";
@import "partials/animations";
@import "partials/quotes";
@import "partials/chefs";
@import "partials/footer";

.container{
    padding-inline: 15vw;
}

@media screen and (max-width: 786px) {
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    
}

.sidebar{
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1000px rgba(0,0,0,0.2),
                3px 0 5px var(--shadow-color);
    animation: getAnimationDuration(0.3s) slideInLeft;
}
.sideBar-links{
    display: block;
    padding: .5em 1em;
    border-left: .4em solid transparent;
    margin-bottom: 1em;
    color: var(--text-color);
    font-size: 1.1em;
    transform: translateX(-100%);
    animation: getAnimationDuration(0.3s) slideInLeft forwards;
    @for $i from 1 through 3{
        &:nth-child(#{$i}){
            animation-delay: #{$i * .1}s;
        }
    }
    &:active{
        border-left-color: var(--primary-color);
    }
    &:hover{
        border-left-color: var(--primary-color);
        background-color: rgba(0,0,0,0.5);
    }
    svg{
        width: 1.2em;
        margin-right:.5em;

    }
}